# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Airflow
logs/
airflow.db
airflow-webserver.pid
standalone_admin_password.txt
plugins/__pycache__/

# Docker / env secrets
.env
config/

# Editor/OS junk
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test artifacts
.pytest_cache/
.coverage
